body {
	-webkit-user-select: none;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: all 1s ease-in-out;
	-webkit-backface-visibility: hidden;
	overflow:hidden;
    width:100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body { -webkit-touch-callout: none !important; }
a { -webkit-user-select: none !important; }

.content {
	padding-top: 0px;
	overflow-x: hidden;
	background-color: #f0f3f5;
}

header {
	background-image: none !important;
	border: none !important;
	background-color: #4A9EDF !important;
	box-shadow: none !important;
	border-top: 1px solid #4A9EDF;
}

header h1 {
	box-shadow: none !important;
	text-shadow: none !important;
	font-family: -apple-system-font !important;
	font-weight: 400 !important;
}

header .button {
	border: none !important;
	background-image: none !important;
	background-color: inherit !important;
	box-shadow: none !important;
	font-weight: bold !important;
	text-shadow: none !important;
}

button.hamburger {
	font-size: 30px !important;
}

button.plus {
	font-size: 26px !important;
	font-weight: 300 !important;
}

li.slide, li.checked {
	background: #fff;
	z-index: 2;
	padding: 24px 20px 24px 61px;
	font-size: 16px;
	-webkit-transform: translateZ(0);
}


li.slide span, li.checked span {
	float: right;
}

li.slide span i, li.checked span i {
	font-size: 20px;
	color: #d4d8dd;
}

li.slide span i {
	visibility: hidden;
}

li.slide strong {
	color: #44484c;
}

li.checked span i {
	color: #54dc98;
	visibility: visible;
}

#left-drawer {
	background-color: #425566;
	border-right: 1px solid #425566;
}

#left-drawer a {
	color: #fff;
}

li.group span {
	color: #fff;
}

li.group {
	background-color: #425566;
	padding: 12px 8px;
	color: #fff;
	border: none;
}

li.group a {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	left: 8px;
	top: 2px;
}

li.group i {
	font-size: 25px;
	float: left;
}

li.selected {
	background: #374856;

}

ul.list {
	/*overflow: hidden;*/
}

ul {
	background: rgb(0,0,0,0);
}

li.active {
	font-weight: bold;
}


.avatar {
	height: 40px;
	width: 40px;
	border-radius: 100px;
	position: absolute;
	left: 3%;
	top: 23%;
	background-image: url('../img/faceface.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 45%;
	border-radius: 100px;
}

.avatar img {
}

#drag-bar {
	width: 100%;
	height: 50px;
	border: 1px solid #ccc;
}

.trans-slide {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
  	-o-transition: all .3s ease-in-out;
  	transition: all .3s ease-in-out;
}

.contact {
	border: none;
	position: relative;
	background: #f0f3f5;
	overflow: hidden;
}

.contact p {
	color: #a0a8ae;
	font-size: 12px;
}

.fake-contact {

}

.fake-contact li {
	border: none;
}

.list li:first-child {
	border-top: none;
}

.group-window {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	z-index: 1;
	background: #54dc98;
}

.option {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 100%;
	width: 21%;
	background: #ee5045;
	z-index: 1;
	padding-top: 20px;
	text-align: center;
}

.option i {
	font-size: 28px;
	color: #fff;
}

.delete {
	padding-top: 24px;
}

.delete i {
	font-size: 21px;
}

.sms {
	right: 21%;
	background: #ffde51;
}

.phone {
	right: 42%;
	background: #54dc98;
}

.mail {
	right: 63%;
	background: #6eb7e9;
}

.custom-block, .custom .settings {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 21%;
	background: #DFDFDF;
	z-index: 1;
	padding-top: 20px;
	text-align: center;
}

.add-block {
/*	border-left: 1px solid #CFD3D6;*/
	background: #D7DADD;
}

.custom-block i, .custom .settings i {
	font-size: 28px;
	color: #fff;
}

#custom-block-two {
	left: 21%;
}

#custom-block-three {
	left: 42%;
}

.custom .settings {
	left: 63%;
	background: #9b83dd;
}

.dark-block {
	background: #ccc;
}

.modal .content {
	padding-top: 20px;
}

#settings-modal {

}

#group-modal {
	
}

.new-item {
  max-height: 0;
  opacity: 0;
  -webkit-transform: translateX(-300px);
  -webkit-animation: 
    openSpace 0.2s ease forwards,
    moveIn 0.3s 0.2s ease forwards;
}

@-webkit-keyframes openSpace {
  to { 
    max-height: 69px;
  }
}

@-webkit-keyframes moveIn {
  to { 
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes menuHeight {
  to { 
    max-height: 400px;
  }
}

@-webkit-keyframes menuIn {
  to { 
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

.hovering {
	-moz-box-shadow:    3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow:         3px 3px 5px 6px #ccc;
	z-index: 1000;
	position: absolute;
	width: 100%;
}

.no-contacts {
	color: #D3D9DF;
	text-align: center;
	padding-top: 100px;
	font-family: -apple-system-font;
}

.no-contacts i {
	font-size: 115px;
}

.no-contacts h1 {
	color: #B1BBC4;
	font-size: 16px;
	font-weight: 400;
}

form.settings, form.new-group-form {
	background: #F0F3F5;
}

/*****SMS Messages Template*****/

#ios7menu{
  width: 96%;
  position: fixed;
  bottom: 0px;
  left: 2%;
  z-index: 150;
  max-height: 0;
  opacity: 0;
  -webkit-transform: translateY(400px);
  -webkit-animation: 
	menuHeight 0.2s ease forwards,
	menuIn 0.3s 0.2s ease forwards;
}

#ios7menu ul{
  background: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  margin: 0 0 20px 0;
  padding: 0 0 0 0;
}

#ios7menu ul li{
  list-style: none;
  text-align: center;
  color: #565656;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 0 0;
  padding: 8px 0;
  height: 29px;
  border-bottom: solid 1px #e3e3e3;
  box-shadow: 0 1px 0 rgb(255,255,255);
}

#ios7menu ul li:last-child{
  border-bottom: none;
  box-shadow: none;
}

#ios7menu ul li a{
  display: block;
  color: #026fff;
  font-size: 22px;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
}

#blackout {
  background-color: rgba(0,0,0,0.75);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  -webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#group-options {
  width: 96%;
  position: fixed;
  top: 14%;
  left: 2%;
  z-index: 150;
  max-height: 0;
  opacity: 0;
  pointer-events:none;
  -webkit-transform: translateY(400px);
  -webkit-animation: 
	menuHeight 0.2s ease forwards,
	menuIn 0.3s 0.2s ease forwards;
}

#group-options ul{
  background: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  margin: 0 0 20px 0;
  padding: 0 0 0 0;
}

#group-options ul li{
  list-style: none;
  text-align: center;
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  margin: 5% 5.8%;
  padding: 8px 0;
  height: 50px;
  border-radius: 100px;
  float: left;
  background: #000;
  opacity: 0.45;
  width: 21%;
  border: 1px solid #fff;
  pointer-events: all;
}

#group-options ul li:last-child{
  border-bottom: none;
  box-shadow: none;
}

#group-options ul li a{
  display: block;
  color: #026fff;
  font-size: 22px;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
}

#group-options ul li i {
	padding-top: 7px;
	padding-left: 1px;
}

#block-options {

}

#block-options ul li {
	list-style: none;
	text-align: center;
	color: #fff;
	font-size: 36px;
	font-weight: 400;
	margin: 5% 5.8%;
	padding: 8px 1px;
	height: 50px;
	width: 50px;
	float: left;
	width: 21%;
}

.skype {
	background-color: #00BAED;
}

.calendar {
	background-color: #44C8BB;
}

.twitter {
	background-color: #2C98E0;
}

.facetime {
	background-color: #30D8B7;
}

.facebook {
	background-color: #1E86CC;
}

.dropbox {
	background-color: #38A4ED;
}

.buffer {
	background-color: #40BDBD;
}

.google-plus {
	background-color: #00BAED;
}

.camera {
	background-color: #D66D93;
}

.google-plus {
	background-color: #E5726B;
}

.tumblr {
	background-color: #3D5773;
}

.linkedin {
	background-color: #3C7CBF;
}

.location {
	background-color: #F7D974;
}

#block-options ul li i {
	margin-top: 7px;
}


